.team-wrapper {
    position: relative;
    & span {
        font-size: 20px;
        font-weight: 600;
        color: $white;
        letter-spacing: .5px;
        padding: 15px 15px 5px;
        display: block;
      }
      & h5 {
        font-size: 16px;
        color: $theme-color;
        font-weight: 700;
        letter-spacing: .5px;
        margin: 0;
        padding: 5px 15px 25px;
        text-transform: uppercase;
      }
      &::before{
          position: absolute;
          content: "";
          height: 4px;
          width: 0;
          background: $theme-color;
          left: 0;
          bottom: 0;
          transition: .3s;
      }
      &:hover{
          &::before{
              width: 100%;
          }
      }
}